html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0
}

a:hover {
    text-decoration: none
}

img {
    max-width: 100%
}

.container {
    max-width: 1150px
}

#header {
    border-bottom: 2px solid #ECECEC
}

#header .top-header {
    background: #EBEBEB;
    border-bottom: 1px solid #DADADA
}

@media (max-width: 767px) {
    #header .top-header {
        display: none
    }
}

#header .menu {
    position: relative
}

#header .menu:before {
    content: '';
    right: 0;
    top: 0;
    width: 40%;
    position: absolute;
    z-index: 1;
    background: #24315E;
    height: 120px
}

@media (max-width: 767px) {
    #header .menu:before {
        display: none
    }
}

#header .menu .container {
    position: relative;
    z-index: 99
}

* {
    padding: 0;
    margin: 0
}

body .download-app h3 {
    font-weight: 100 !important
}

.main-section {
    background-image: url(../images/illu-bg-connection.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 0;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 5rem
}

.big-nothing {
    padding: 75px 0;
    text-align: center
}

.big-nothing a {
    border: 1px solid #0091db;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    transition: all .2s;
    border-radius: 45px;
    font-size: 18px;
    margin: 0 .8rem;
    min-width: 195px;
    padding: 11px 23px;
    background: #FFF;
    color: #0091db;
    margin-top: 15px
}

.big-nothing a:hover {
    background: #0091db;
    color: #FFF
}

.big-nothing h3 span {
    color: #0091db
}

.big-nothing h3 {
    letter-spacing: 4px
}

.blue-section {
    background: #2d4166
}

.footer-logo-last img {
    display: block;
    width: 200px;
    height: auto;
    margin: auto
}

.footer-logo-last {
    padding: 75px 0
}

p.copyright {
    background-color: #262626;
    padding: 22px 30px;
    padding-top: 30px;
    padding-bottom: 11px;
    color: white;
    text-align: center
}

div#footer {
    background-color: #000;
    margin-top: 60px
}

.heading {
    text-align: center;
    color: white;
    margin-bottom: 50;
    margin-bottom: 50px
}

.heading h2 {
    font-size: 37px
}

.white-box {
    padding: 3rem 1rem 2rem;
    background-color: #FFF;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2)
}

.blue-section {
    background: #2d4166
}

.footer-logo-last img {
    display: block;
    width: 200px;
    height: auto;
    margin: auto
}

.footer-logo-last {
    padding: 75px 0
}

p.copyright {
    background-color: #262626;
    padding: 22px 30px;
    padding-top: 30px;
    padding-bottom: 11px;
    color: white;
    text-align: center
}

div#footer {
    background-color: #000;
    margin-top: 60px;
    padding-top: 1px;
    padding-bottom: 33px
}

.main-menu ul {
    list-style: none;
    background: #262629;
    margin-bottom: 57px;
    margin-top: 30px
}

.main-menu ul li {
    display: inline-block;
    padding: 18px 20px
}

.main-menu ul li a {
    color: aliceblue;
    font-size: 16px
}

.first-widget p {
    color: white
}

.first-widget img {
    margin-bottom: 28px
}

.second-widget ul li {
    list-style: none;
    margin-bottom: 13px
}

.second-widget ul li a {
    color: white
}

.download-app {
    color: white;
    text-align: center;
    padding-top: 60px
}

.white-box {
    min-height: 531px
}

.white-box.okay_friend {
    padding: 30px
}

.white-box.okay_friend h2 {
    color: #0091db;
    font-size: 21px;
    text-align: center;
    margin: 35px 0;
    letter-spacing: 1px;
    margin-bottom: 22px
}

.white-box.okay_friend img:first-child {
    text-align: center;
    margin: 0 auto
}

.white-box.okay_friend {
    text-align: center;
    background-color: #F7F7F7
}

.white-box.okay_friend p {
    text-align: left
}

a.go_btn {
    border: 1px solid #0091db;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    transition: all .2s;
    border-radius: 45px;
    font-size: 15px;
    padding: 11px 23px;
    background: #FFF;
    color: #0091db;
    margin-bottom: 25px;
    margin-top: 15px
}

.last-chapter {
    font-weight: bold
}

.last-chapter a {
    margin-left: 10px;
    text-decoration: underline;
    font-weight: 400
}

.first-widget {
    padding: 2.8rem 1rem 3rem 1.5rem;
    border-right: 1px solid #333333
}

.second-widget {
    border-right: 1px solid #333333;
    text-align: left;
    padding: 0
}

.first-widget {
    min-height:  !important;
    overflow: hidden
}

.second-widget {
    min-height: 315px
}

.social-media {
    background: red;
    text-align: center;
    background-color: #262626
}

.social-media li {
    display: inline-block;
    padding: 0px 28px;
    color: white
}

.social-media li a {
    color: white;
    font-size: 28px
}

p.copyright {
    background: black
}

a.decouvriiiiir {
    background: #0091db;
    border-radius: 50px;
    border: 1px solid #0091db;
    color: #fff !important;
    display: inline-block;
    font-size: 19px;
    font-weight: 400;
    line-height: 150%;
    padding: .75rem 1.9rem;
    text-align: center;
    text-decoration: none !important;
    transition: all .2s;
    margin-top: 27px
}

h2.heading-title {
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    font-weight: 400
}

.blue-section {
    padding-bottom: 45px
}

.iphone-img img {
    height: 429px;
    position: absolute;
    top: -60px;
    right: -95px;
    width: auto !important;
    max-width: inherit
}

.iphone-img {
    position: relative
}

h2.heading-title span {
    color: #0091db
}

.nav-tabs {
    display: none
}

@media (min-width: 768px) {
    .nav-tabs {
        display: flex;
        flex-flow: column nowrap
    }
    .nav-tabs {
        border-bottom: none;
        border-right: 1px solid #ddd;
        display: flex
    }
    .nav-tabs {
        margin: 0 15px
    }
    .nav-tabs .nav-item+.nav-item {
        margin-top: 0.25rem
    }
    .nav-tabs .nav-link {
        transition: border-color 0.125s ease-in;
        white-space: nowrap
    }
    .nav-tabs .nav-link:hover {
        background-color: #f7f7f7;
        border-color: transparent
    }
    .nav-tabs .nav-link.active {
        border-bottom-color: #ddd;
        border-right-color: #fff;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
        margin-right: -1px
    }
    .nav-tabs .nav-link.active:hover {
        background-color: #fff;
        border-color: #0275d8 #fff #0275d8 #0275d8
    }
    .card {
        border: none
    }
    .card .card-header {
        display: none
    }
    .card .collapse {
        display: block
    }
}

@media (max-width: 767px) {
    .tab-pane {
        display: block !important;
        opacity: 1
    }
}

ul#tabs {
    margin: 0
}

ul#tabs li a {
    padding: 60px 50px;
    background-color: #F7F7F7;
    border: 0;
    margin: 0
}

ul#tabs li {
    padding: 0;
    margin: 0
}

ul#tabs {
    width: 30%
}

div#content {
    margin: 0 auto;
    width: 80%;
    padding: 25px
}

.form-action {
    text-align: left;
    width: 100%
}

.form-action button {
    border: 0;
    background: transparent
}

.form-action button:hover {
    outline: 0;
    box-shadow: none
}

a#tab-A::before {
    content: '';
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    left: 17px;
    top: 50px;
    background: url("../images/ico-sprite-connection.png") no-repeat -4px -6px;
    width: 51px;
    height: 46px
}

a#tab-A {
    position: relative
}

a#tab-B::before {
    content: '';
    width: 50px;
    height: 60px;
    background: red;
    position: absolute;
    left: 17px;
    top: 50px;
    background: url("../images/ico-sprite-connection.png") no-repeat -76px -4px
}

a#tab-B {
    position: relative
}

a#tab-C::before {
    content: '';
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    left: 17px;
    top: 50px;
    background: url("../images/ico-sprite-connection.png") no-repeat -127px -6px
}

a#tab-C {
    position: relative
}

ul#tabs li a {
    font-size: 15px;
    color: #898989
}

ul#tabs li a {
    padding-left: 75px
}

ul#tabs li {
    border-bottom: 1px solid #1a303b1f
}

.nav-link.active {
    background: #0091db !important;
    color: white !important
}

.nav-link.active::after {
    width: 0;
    content: '';
    height: 0;
    border-style: solid;
    border-width: 13px 0 13px 13px;
    border-color: transparent transparent transparent #0091db;
    left: inherit;
    right: 0;
    bottom: inherit;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
    z-index: 70;
    opacity: 1;
    right: -13px;
    display: block;
    position: absolute
}

a.connnect {
    background: #0091db;
    border: 1px solid #0091db;
    color: #fff !important;
    display: inline-block;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    text-decoration: none !important;
    transition: all .2s;
    border-radius: 45px;
    font-size: 15px;
    margin: 0 .8rem;
    min-width: 195px;
    padding: 10px
}

a.restore_pass_link {
    color: #3B3B3B;
    float: right;
    text-decoration: underline;
    position: relative;
    top: 5px
}

.form-action {
    height: 25px
}

a.secureite {
    margin-top: 30px;
    display: inline-block;
    color: #3B3B3B;
    float: right;
    text-decoration: underline;
    position: relative;
    top: 5px
}

.form-dahia {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    margin-top: 25px
}

ul#tabs li a {
    border-radius: 0
}

.breadcrumb {
    line-height: 120%
}

.breadcrumb {
    padding: 10px 0 10px;
    line-height: 140%;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 0;
    background: transparent
}

.breadcrumb__list {
    margin: 0;
    padding: 0
}

.breadcrumb__item {
    display: inline-block
}

.breadcrumb__item:last-child {
    font-weight: 400;
    cursor: default
}

.breadcrumb__item {
    display: inline-block
}

.breadcrumb__item::after {
    display: inline-block;
    content: '\003E'
}

.page section a,
.page section span.obflink {
    color: #3B3B3B;
    text-decoration: underline
}

.breadcrumb a {
    font-size: 14px
}

div#content {
    padding-left: 40px;
    padding-top: 65px;
    padding-right: 35px
}

#header:before {
    content: '';
    display: block;
    height: 3px;
    max-width: 1360px;
    margin: auto;
    background: #0091db
}

a.secureite:before {
    background: url("../images/icon-security.png") no-repeat;
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    left: -35px;
    top: 0px
}

a#tab-A.panee-a.active::before {
    background-position: 0 -60px !important;
    width: 60px;
    height: 56px
}

a#tab-B.panee-b.active::before {
    background-position: -60px -60px !important;
    width: 60px;
    height: 56px
}

a#tab-C.panee-c.active::before {
    background-position: -120px -60px !important;
    width: 60px;
    height: 56px
}

.l7ayfoof {
    text-align: center;
    font-size: 15px;
    line-height: 28px
}

.white-box.okay_friend span {
    font-weight: bold
}

.l7ayfoof a {
    background: #0091db;
    border-radius: 50px;
    border: 1px solid #0091db;
    color: #fff !important;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: .75rem 1.9rem;
    text-align: center;
    text-decoration: none !important;
    transition: all .2s;
    margin-top: 27px;
    width: 180px
}

.last-chapter a {
    position: relative;
    padding-left: 30px
}

.last-chapter a::before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    top: 0;
    left: 0;
    background-image: url(../images/download.svg)
}

a.go_btn:hover {
    background: #0091db;
    color: #FFF !important;
    text-decoration: none
}

.breadcrumb__item:last-child::after {
    opacity: 0
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0
}

a:hover {
    text-decoration: none
}

img {
    max-width: 100%
}

.container {
    max-width: 1150px
}

#header {
    border-bottom: 2px solid #ECECEC
}

#header .top-header {
    background: #EBEBEB;
    border-bottom: 1px solid #DADADA
}

@media (max-width: 767px) {
    #header .top-header {
        display: none
    }
}

#header .menu {
    position: relative
}

#header .menu:before {
    content: '';
    right: 0;
    top: 0;
    width: 40%;
    position: absolute;
    z-index: 1;
    background: #24315E;
    height: 120px
}

@media (max-width: 767px) {
    #header .menu:before {
        display: none
    }
}

#header .menu .container {
    position: relative;
    z-index: 99
}

* {
    padding: 0;
    margin: 0
}

body .download-app h3 {
    font-weight: 100 !important
}

.main-section {
    background-image: url(../images/illu-bg-connection.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 0;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 5rem
}

.big-nothing {
    padding: 75px 0;
    text-align: center
}

.big-nothing a {
    border: 1px solid #0091db;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    transition: all .2s;
    border-radius: 45px;
    font-size: 18px;
    margin: 0 .8rem;
    min-width: 195px;
    padding: 11px 23px;
    background: #FFF;
    color: #0091db;
    margin-top: 15px
}

.big-nothing a:hover {
    background: #0091db;
    color: #FFF
}

.big-nothing h3 span {
    color: #0091db
}

.big-nothing h3 {
    letter-spacing: 4px
}

.blue-section {
    background: #2d4166
}

.footer-logo-last img {
    display: block;
    width: 200px;
    height: auto;
    margin: auto
}

.footer-logo-last {
    padding: 75px 0
}

p.copyright {
    background-color: #262626;
    padding: 22px 30px;
    padding-top: 30px;
    padding-bottom: 11px;
    color: white;
    text-align: center
}

div#footer {
    background-color: #000;
    margin-top: 60px
}

.heading {
    text-align: center;
    color: white;
    margin-bottom: 50;
    margin-bottom: 50px
}

.heading h2 {
    font-size: 37px
}

.white-box {
    padding: 3rem 1rem 2rem;
    background-color: #FFF;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2)
}

.blue-section {
    background: #2d4166
}

.footer-logo-last img {
    display: block;
    width: 200px;
    height: auto;
    margin: auto
}

.footer-logo-last {
    padding: 75px 0
}

p.copyright {
    background-color: #262626;
    padding: 22px 30px;
    padding-top: 30px;
    padding-bottom: 11px;
    color: white;
    text-align: center
}

div#footer {
    background-color: #000;
    margin-top: 60px;
    padding-top: 1px;
    padding-bottom: 33px
}

.main-menu ul {
    list-style: none;
    background: #262629;
    margin-bottom: 57px;
    margin-top: 30px
}

.main-menu ul li {
    display: inline-block;
    padding: 18px 20px
}

.main-menu ul li a {
    color: aliceblue;
    font-size: 16px
}

.first-widget p {
    color: white
}

.first-widget img {
    margin-bottom: 28px
}

.second-widget ul li {
    list-style: none;
    margin-bottom: 13px
}

.second-widget ul li a {
    color: white;
    font-size: 16px
}

.download-app {
    color: white;
    text-align: center;
    padding-top: 60px
}

.white-box {
    min-height: 531px
}

.white-box.okay_friend {
    padding: 30px
}

.white-box.okay_friend h2 {
    color: #0091db;
    font-size: 21px;
    text-align: center;
    margin: 35px 0;
    letter-spacing: 1px;
    margin-bottom: 22px
}

.white-box.okay_friend img:first-child {
    text-align: center;
    margin: 0 auto
}

.white-box.okay_friend {
    text-align: center;
    background-color: #F7F7F7
}

.white-box.okay_friend p {
    text-align: left
}

a.go_btn {
    border: 1px solid #0091db;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    transition: all .2s;
    border-radius: 45px;
    font-size: 15px;
    padding: 11px 23px;
    background: #FFF;
    color: #0091db;
    margin-bottom: 25px;
    margin-top: 15px
}

.last-chapter {
    font-weight: bold
}

.last-chapter a {
    margin-left: 10px;
    text-decoration: underline;
    font-weight: 400
}

.first-widget {
    padding: 2.8rem 1rem 3rem 1.5rem;
    border-right: 1px solid #333333
}

.second-widget {
    border-right: 1px solid #333333;
    text-align: left;
    padding: 0
}

.first-widget {
    min-height:  !important;
    overflow: hidden
}

.second-widget {
    min-height: 315px
}

.social-media {
    background: red;
    text-align: center;
    background-color: #262626
}

.social-media li {
    display: inline-block;
    padding: 0px 28px;
    color: white
}

.social-media li a {
    color: white;
    font-size: 28px
}

p.copyright {
    background: black
}

a.decouvriiiiir {
    background: #0091db;
    border-radius: 50px;
    border: 1px solid #0091db;
    color: #fff !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    padding: .75rem 1.9rem;
    text-align: center;
    text-decoration: none !important;
    transition: all .2s;
    margin-top: 27px
}

h2.heading-title {
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    font-weight: 400
}

.blue-section {
    padding-bottom: 45px
}

.iphone-img img {
    height: 429px;
    position: absolute;
    top: -60px;
    right: -95px;
    width: auto !important;
    max-width: inherit
}

.iphone-img {
    position: relative
}

h2.heading-title span {
    color: #0091db
}

.nav-tabs {
    display: none
}

@media (min-width: 768px) {
    .nav-tabs {
        display: flex;
        flex-flow: column nowrap
    }
    .nav-tabs {
        border-bottom: none;
        border-right: 1px solid #ddd;
        display: flex
    }
    .nav-tabs {
        margin: 0 15px
    }
    .nav-tabs .nav-item+.nav-item {
        margin-top: 0.25rem
    }
    .nav-tabs .nav-link {
        transition: border-color 0.125s ease-in;
        white-space: nowrap
    }
    .nav-tabs .nav-link:hover {
        background-color: #f7f7f7;
        border-color: transparent
    }
    .nav-tabs .nav-link.active {
        border-bottom-color: #ddd;
        border-right-color: #fff;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
        margin-right: -1px
    }
    .nav-tabs .nav-link.active:hover {
        background-color: #fff;
        border-color: #0275d8 #fff #0275d8 #0275d8
    }
    .card {
        border: none
    }
    .card .card-header {
        display: none
    }
    .card .collapse {
        display: block
    }
}

@media (max-width: 767px) {
    .tab-pane {
        display: block !important;
        opacity: 1
    }
}

ul#tabs {
    margin: 0
}

ul#tabs li a {
    padding: 60px 50px;
    background-color: #F7F7F7;
    border: 0;
    margin: 0
}

ul#tabs li {
    padding: 0;
    margin: 0
}

ul#tabs {
    width: 30%
}

div#content {
    width: 70%;
    padding: 25px
}

.form-action {
    text-align: left;
    width: 100%
}

a#tab-A::before {
    content: '';
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    left: 17px;
    top: 50px;
    background: url("../images/ico-sprite-connection.png") no-repeat -4px -6px;
    width: 51px;
    height: 46px
}

a#tab-A {
    position: relative
}

a#tab-B::before {
    content: '';
    width: 50px;
    height: 60px;
    background: red;
    position: absolute;
    left: 17px;
    top: 50px;
    background: url("../images/ico-sprite-connection.png") no-repeat -76px -4px
}

a#tab-B {
    position: relative
}

a#tab-C::before {
    content: '';
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    left: 17px;
    top: 50px;
    background: url("../images/ico-sprite-connection.png") no-repeat -127px -6px
}

a#tab-C {
    position: relative
}

ul#tabs li a {
    font-size: 15px;
    color: #898989
}

ul#tabs li a {
    padding-left: 75px
}

ul#tabs li {
    border-bottom: 1px solid #1a303b1f
}

.nav-link.active {
    background: #0091db !important;
    color: white !important
}

.nav-link.active::after {
    width: 0;
    content: '';
    height: 0;
    border-style: solid;
    border-width: 13px 0 13px 13px;
    border-color: transparent transparent transparent #0091db;
    left: inherit;
    right: 0;
    bottom: inherit;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
    z-index: 70;
    opacity: 1;
    right: -13px;
    display: block;
    position: absolute
}

a.connnect {
    background: #0091db;
    border: 1px solid #0091db;
    color: #fff !important;
    display: inline-block;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    text-decoration: none !important;
    transition: all .2s;
    border-radius: 45px;
    font-size: 15px;
    margin: 0 .8rem;
    min-width: 195px;
    padding: 10px
}

a.restore_pass_link {
    color: #3B3B3B;
    float: right;
    text-decoration: underline;
    position: relative;
    top: 5px
}

.form-action {
    height: 25px
}

a.secureite {
    margin-top: 30px;
    display: inline-block;
    color: #3B3B3B;
    float: right;
    text-decoration: underline;
    position: relative;
    top: 5px
}

.form-dahia {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    margin-top: 25px
}

ul#tabs li a {
    border-radius: 0
}

.breadcrumb {
    line-height: 120%
}

.breadcrumb {
    padding: 10px 0 10px;
    line-height: 140%;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 0;
    background: transparent
}

.breadcrumb__list {
    margin: 0;
    padding: 0
}

.breadcrumb__item {
    display: inline-block
}

.breadcrumb__item:last-child {
    font-weight: 400;
    cursor: default
}

.breadcrumb__item {
    display: inline-block
}

.breadcrumb__item::after {
    display: inline-block;
    content: '\003E'
}

.page section a,
.page section span.obflink {
    color: #3B3B3B;
    text-decoration: underline
}

.breadcrumb a {
    font-size: 14px
}

div#content {
    padding-left: 40px;
    padding-top: 65px;
    padding-right: 35px
}

#header:before {
    content: '';
    display: block;
    height: 3px;
    max-width: 1360px;
    margin: auto;
    background: #0091db
}

a.secureite:before {
    background: url("../images/icon-security.png") no-repeat;
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    left: -35px;
    top: 0px
}

a#tab-A.panee-a.active::before {
    background-position: 0 -60px !important;
    width: 60px;
    height: 56px
}

a#tab-B.panee-b.active::before {
    background-position: -60px -60px !important;
    width: 60px;
    height: 56px
}

a#tab-C.panee-c.active::before {
    background-position: -120px -60px !important;
    width: 60px;
    height: 56px
}

.l7ayfoof {
    text-align: center;
    font-size: 15px;
    line-height: 28px
}

.white-box.okay_friend span {
    font-weight: bold
}

.l7ayfoof a {
    background: #0091db;
    border-radius: 50px;
    border: 1px solid #0091db;
    color: #fff !important;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: .75rem 1.9rem;
    text-align: center;
    text-decoration: none !important;
    transition: all .2s;
    margin-top: 27px;
    width: 180px
}

.last-chapter a {
    position: relative;
    padding-left: 30px
}

.last-chapter a::before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    top: 0;
    left: 0;
    background-image: url(../images/download.svg)
}

a.go_btn:hover {
    background: #0091db;
    color: #FFF !important;
    text-decoration: none
}

.breadcrumb__item:last-child::after {
    opacity: 0
}

.second-widget ul li a:hover {
    opacity: 0.6
}

.breadcrumb__item::after {
    top: 3px;
    position: relative
}

li.breadcrumb__item a {
    font-size: 12px
}

@media (max-width: 600px) and (min-width: 0px) {
    .social-media li {
        padding: 0 10px
    }
    .social-media li a {
        font-size: 23px
    }
    .first-widget {
        padding: 0;
        border: 0;
        margin-bottom: 34px
    }
    .second-widget {
        border: 0
    }
    .main-menu ul li {
        width: 100%
    }
    .iphone-img img {
        display: none
    }
    .download-app h2 {
        padding: 0
    }
    a.decouvriiiiir {
        font-size: 14px
    }
    .download-app h3 {
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 35px;
        line-height: 34px
    }
    div#footer {
        margin-top: 0;
        padding-bottom: 20px
    }
    .main-menu ul {
        margin-top: 0;
        top: -1px;
        position: relative
    }
    .heading h2 {
        font-size: 24px;
        line-height: 35px
    }
    div#content {
        width: 100%;
        padding-bottom: 60px
    }
    .big-nothing h3 {
        letter-spacing: 0;
        font-size: 24px
    }
    h2.heading-title {
        padding: 15px 2px;
        font-size: 18px
    }
    .tab-content .tab-pane {
        display: none !important
    }
    .big-nothing a {
        font-size: 15px;
        min-width: 160px !important
    }
    .last-chapter a {
        display: block;
        margin-top: 25px
    }
    a.go_btn {
        padding: 6px 12px
    }
    h2.heading-title {
        padding: 2px;
        font-size: 16px
    }
    #phone-select-id {
        display: block !important
    }
    select#phone-select-id {
        max-width: 230px;
        margin: 0 auto
    }
    .tab-content .tab-pane.show {
        display: block !important
    }
}

#secure-area {
    background-color: #2D4166;
    padding: 30px;
    border-radius: 10px
}

#secure-area form .has-error input {
    border: 1px solid #DC3545;
    background: #ffa4ac
}

#secure-area form legend {
    color: #FFF;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 20px
}

#secure-area form label {
    color: #FFF
}

#secure-area form input {
    background: #FFF;
    height: 40px
}

#secure-area form input:focus {
    outline: 0;
    box-shadow: none
}

#secure-area form p {
    text-align: right;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 5px
}

#secure-area form p a {
    color: #FFF;
    text-decoration: underline
}

#secure-area form button {
    background: #FFF;
    border: 1px solid #0091DB;
    border-radius: 30px;
    height: 40px;
    padding: 0 20px;
    color: #0091DB;
    transition: all 0.3s
}

#secure-area form button:hover {
    background: #0091DB;
    color: #FFF
}

#secure-area form button:focus {
    outline: 0;
    box-shadow: none
}

#finish-area {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px
}

#finish-area h3 {
    font-weight: 700;
    margin-bottom: 15px;
    color: #0091DB
}

#finish-area p {
    margin-bottom: 0;
    font-size: 16px
}

.loader {
    text-align: center;
    margin: 100px 0
}

.loader p {
    margin-bottom: 0;
    color: #FFF
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0
    }
}